* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #F7F7FF;
  -webkit-font-smoothing: antialiased;
}

body,
input,
button {
  font-family: Aniron, Roboto, Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

label {
  display: none;
}

textarea {
  margin: 0;
  font-family: inherit;
  resize: vertical;
}

li {
  list-style: none;
}

img {
  vertical-align: text-bottom;
}

input {
  border-radius: 6px;
  padding: 5px;
}

input::selection { 
  color: #fff;
  background: #432818;
}

input:focus {
  outline: none !important;
  box-shadow: 0 0 4px #131112;
}

input:active {
  transition: 0.2s all;
  transform: translateY(1px);
}

button {
  cursor: pointer;
}

button:active {
  transition: 0.3s all;
  transform: translateY(7px);
}

